
<?xml version='1.0' encoding='utf-8'?>

<widget id="com.pgb.brewapp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">

    <name> Puzzle </name>

    <description>
        This app is for aid child with mental disorders.
    </description>

    <author email="seymourbutts@phonegap.com" href="http://phonegap.com">
       Rodrigo
    </author>

    <preference name="phonegap-version" value="cli-6.0.0" />

    <feature name="debug-server" required="true">
       <param name="domain" value="http://debug.custom.com"/>
       <param name="key" value="some_unique_key"/>
    </feature>

</widget>
